<nav aria-label="Main navigation bar">
  <mat-toolbar>
    <mat-toolbar-row>
      <div class="nav-container">
        <h2 class="title" [class.title--small]="(smallBreakpoint$ | async)">
          <a routerLink="/home">PLAST DB</a>
        </h2>

        <div *ngIf="!(smallBreakpoint$ | async); else smallBreakpointTemplate" class="navigation-items">
          <a routerLink="/anime/list">Browse</a>
          <a routerLink="/about">About</a>
          <input #searchInput type="text" placeholder="Search Anime" (keydown.enter)="searchAnime(searchInput)">
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <ng-container *ngIf="(dropdownMenu$ | async) === 'menu'">
    <ng-container *ngTemplateOutlet="dropdownMenuTemplate"></ng-container>
  </ng-container>

  <ng-container *ngIf="(dropdownMenu$ | async) === 'search'">
    <ng-container *ngTemplateOutlet="dropdownSearchTemplate"></ng-container>
  </ng-container>
</nav>

<ng-template #smallBreakpointTemplate>
  <div class="navigation-items navigation-items--small">
    <button mat-icon-button aria-label="Menu Button" matTooltip="Menu"
            (click)="toggleDropdownMenu('menu'); $event.stopPropagation()">
      <mat-icon>menu</mat-icon>
    </button>

    <button class="search-button" mat-icon-button aria-label="Search Button" matTooltip="Search"
            (click)="toggleDropdownMenu('search'); $event.stopPropagation()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</ng-template>

<ng-template #dropdownMenuTemplate>
  <nav class="dropdown-menu" @fadeInOnEnter (plastClickOutside)="toggleDropdownMenu(undefined)"
       aria-label="Dropdown menu with navigation items">
    <div class="dropdown-menu__navigation-items">
      <a routerLink="/anime/list" (click)="toggleDropdownMenu(undefined)">BROWSE</a>
      <a routerLink="/about" (click)="toggleDropdownMenu(undefined)">ABOUT</a>
    </div>
  </nav>
</ng-template>

<ng-template #dropdownSearchTemplate>
  <nav class="dropdown-menu" @fadeInOnEnter (plastClickOutside)="toggleDropdownMenu(undefined)"
       aria-label="Dropdown menu with a search bar">
    <div class="dropdown-menu__navigation-items">
      <input #dropdownSearchInput type="text" placeholder="Search Anime" (keydown.enter)="searchAnime(dropdownSearchInput)">
    </div>
  </nav>
</ng-template>

