:host {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0px rgba(0, 0, 0, 0.14), 0 1px 5px 0px rgba(0, 0, 0, 0.12);
}

mat-toolbar {
  background-color: black;
  color: white;
  padding: .75em 1.5em;
  transition: background-color 100ms ease;
}

.nav-container {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: white;
  font-weight: 700;
  font-size: 2em;
  &.title--small {
    font-size: 1em;
  }
}

.navigation-items {
  display: flex;
  flex-flow: row;
  gap: 3rem;
  align-items: center;
  &.navigation-items--small {
    gap: 1rem;
  }
  p {
    margin: 0;
  }
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

input {
  background-color: #fff;
  opacity: .8;
  border: 1px solid #eee;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.35rem;
}

.dropdown-menu {
  padding: 1em 1em 1em 2em;
  z-index: 11;
  background-color: white;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0px rgba(0, 0, 0, 0.14), 0 1px 5px 0px rgba(0, 0, 0, 0.12);
  .dropdown-menu__navigation-items {
    display: flex;
    flex-flow: column;
    gap: 15px;
    a {
      font-size: 1em;
      font-weight: 500;
      padding: .5em;
      &:hover {
        background-color: #f1f1f1;
      }
    }
  }
}
