<nav class="bg-black text-white fixed top-0 left-0 z-10 min-w-[100vw]">
  <div class="flex flex-col">
    <div class="flex flex-row justify-between align-middle p-6 sm:px-20">
      <h2 class="font-semibold sm:text-2xl cursor-pointer">
        <a routerLink="/home">PLAST DB</a>
      </h2>

      <div class="flex-row gap-5 font-medium text-lg hidden md:flex">
        <a routerLink="/anime/list">Manga</a>
        <a routerLink="/anime/list">Anime</a>
        <a routerLink="/about">About</a>
      </div>

      <button aria-label="Menu Button" class="md:hidden flex items-center align-middle"
              (click)="toggleDropdownMenu(); $event.stopPropagation()">
        <svg-icon [key]="(dropdownMenu$ | async) ? 'close' : 'menu'" fontSize="1.5rem"></svg-icon>
      </button>
    </div>

    <div class="md:hidden flex-col font-medium text-lg bg-white text-black"
         [ngClass]="{'flex': dropdownMenu$ | async, 'hidden': !(dropdownMenu$ | async)}"
         @fadeInOnEnter>
      <a routerLink="/anime/list" class="p-3 sm:px-20 hover:bg-gray-200">Manga</a>
      <a routerLink="/anime/list" class="p-3 sm:px-20 hover:bg-gray-200">Anime</a>
      <a routerLink="/about" class="p-3 sm:px-20 hover:bg-gray-200">About</a>
    </div>
  </div>
</nav>
