.card-container {
  height: 250px;
  border-radius: 5px;
}

img {
  height: 250px;
  width: auto;
  border-radius: inherit;
}

.card-info {
  padding: 5%;
  height: 100%;
}

.anime-genre {
  font-size: 0.65rem;
  text-transform: uppercase;
}

.anime-title {
  font-weight: 500;
}

.anime-score {
  font-size: 1.5rem;
  font-weight: 500;
  mat-icon { color: #ebba34 }
  p { margin: 0 }
}
