<div *ngIf="anime; else cardPlaceholderTemplate">
  <a class="card" [routerLink]="'/anime/' +  anime.mal_id">
    <img class="card__image"
         [src]="anime.images.webp?.image_url"
         width="175px" height="250px" alt="Anime front image">

    <div class="card__data">
      <div class="anime__genres">
        <p class="anime__genre" *ngFor="let genre of (anime.genres | maxItems: 2) ">{{ genre.name }}</p>
      </div>

      <p class="anime__title">{{ anime.title }}</p>
    </div>
  </a>
</div>

<ng-template #cardPlaceholderTemplate>
  <div class="card-placeholder">
    <div class="card-placeholder__image"></div>
    <div class="card-placeholder__text"></div>
    <div class="card-placeholder__text"></div>
  </div>
</ng-template>
