<section *ngIf="(anime$ | async) as anime" class="anime-detail__section">
  <header class="anime-detail__header"
          [ngClass]="{'anime-detail__header--big': !(smallBreakpoint$ | async), 'anime-detail__header--small': (smallBreakpoint$ | async)}">
            <p class="anime-detail__header--english">{{ anime.title }}</p>
            <p class="anime-detail__header--japanese">{{ anime.title_japanese }}</p>
            <div class="anime-detail__header__list">
              <p *ngFor="let genre of anime.genres" class="anime-detail__header__genre">{{ genre.name | uppercase }}</p>
            </div>
            <div class="anime-detail__header__list">
              <p>
                <span class="anime-detail__header__list__title">Ranked:</span> #{{anime.rank}}
              </p>
              <p>
                <span class="anime-detail__header__list__title">Popularity:</span> #{{anime.popularity}}
              </p>
            </div>
  </header>
  <div class="anime-detail__data" [ngClass]="{'anime-detail__data--big': !(smallBreakpoint$ | async), 'anime-detail__data--small': (smallBreakpoint$ | async)}">
    <aside class="anime-detail__aside">
      <img [src]="anime.images.webp?.large_image_url"
           [alt]="anime.title + ' front cover'"
           class="anime-detail__image"
           [ngClass]="{'anime-detail__image--big': !(smallBreakpoint$ | async), 'anime-detail__image--small': (smallBreakpoint$ | async)}"
           width="350" height="500">

      <div class="anime-detail__status"
           [ngClass]="{'anime-detail__status--airing': anime.airing, 'anime-detail__status--finished': !anime.airing}">
        {{ anime.status }}
      </div>

      <div class="anime-detail__information__table">
        <p class="anime__score row__border-bottom">
          <span class="information__title">Score:</span> {{ anime.score}}
        </p>
        <p class="row__border-bottom">
          <span class="information__title">Type:</span> {{ anime.type}}</p>
        <p class="row__border-bottom">
          <span class="information__title">Aired:</span> From {{anime.aired.from | date}} to {{(anime.aired.to | date) || '?' }}
        </p>
        <p>
          <span class="information__title">Studios:</span>
          <span *ngFor="let studio of anime.studio; let last=last">
            {{studio.name}}<ng-container *ngIf="!last">,</ng-container>
          </span>
        </p>
      </div>
    </aside>

    <div class="anime-detail__information">
      <article class="anime-detail__synopsis">
        <div class="section-title">
          <h2 class="section-title__h2">Synopsis</h2>
          <div class="section-title__divider"></div>
        </div>

        <p class="anime-detail__synopsis__text">{{ anime.synopsis }}</p>
      </article>

      <div class="anime-detail__characters">
        <div class="section-title">
          <h2 class="section-title__h2">Main characters</h2>
          <div class="section-title__divider"></div>
        </div>

        <ng-container *ngFor="let character of (animeCharacters$ | async)">
          <div *ngIf="character.role === 'Main'" class="anime-detail__character-card">
            <img  [src]="character.character.images.webp?.image_url" [alt]="character.character.name + ' portrait'"
                  width="225" height="350">
            <p>{{ character.character.name }}</p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>
