<section class="mt-[72px] sm:mt-[80px] py-14 px-6 lg:px-20 flex flex-col gap-7">
  <div class="flex flex-row flex-wrap sm:flex-nowrap gap-3 sm:gap-6 justify-between items-center">
    <h2 class="w-fit whitespace-nowrap font-semibold text-xl sm:text-2xl md:text-3xl">About us</h2>
    <div class="bg-gray-400 h-1.5 w-full"></div>
  </div>

  <article class="flex flex-col gap-2 justify-between">
    <p class="text-lg"><span class="text-3xl font-semibold">PLAST DB</span> aims to provide you a wide catalog of the most popular Anime at the time.</p>
    <p class="text-lg">It is a showcase of <a href="https://github.com/tutkli/jikan-ts" target="_blank" class="text-indigo-700 hover:opacity-80">Jikan-ts</a>, a Typescript and NodeJS wrapper of the <a href="https://jikan.moe/" target="_blank" class="text-indigo-700 hover:opacity-80">Jikan API</a>.</p>
    <img src="https://user-images.githubusercontent.com/49206247/207465731-9908e843-7c8d-4e05-838b-41bcd8c677f8.png" alt="Jikan-ts logo" class="w-80 mt-10">
  </article>
</section>
