.about-section {
  margin-top: 94px;
}

article {
  margin-top: 5rem;
}

a {
  color: #3a4bb9;
}

p {
  font-size: 1.3rem;
  line-height: 2rem;
}

span {
  font-size: 2rem;
  font-weight: 700;
  margin-right: 5px;
}
