<section class="py-10 px-6 lg:px-20 flex flex-col gap-5">
  <div class="flex flex-row flex-wrap sm:flex-nowrap gap-3 justify-between items-center">
    <h2 class="w-fit whitespace-nowrap font-semibold text-lg sm:text-xl md:text-2xl">Top publishing mangas</h2>
    <div class="bg-gray-400 h-1.5 w-full"></div>
    <a class="w-fit cursor-pointer whitespace-nowrap uppercase font-semibold text-indigo-700 hover:opacity-80" routerLink="/manga/list">View All</a>
  </div>

  <div *ngIf="(topMangas$ | async)?.length; else placeholderTemplate"
       class="max-w-full flex flex-row gap-5 overflow-auto overflow-y-hidden py-2"
       #mangaScrollContainer>
    <plast-resource-card *ngFor="let manga of (topMangas$ | async) | maxItems: 10"
                         [resource]="manga"
                         [link]="'/manga/' +  manga.mal_id"/>
  </div>

  <div class="flex flex-row justify-end items-center gap-3 text-indigo-700">
    <button (click)="scrollMangas('left')" class="hover:opacity-80">
      <svg-icon key="left-arrow-circle" fontSize="2rem"/>
    </button>
    <button (click)="scrollMangas('right')" class="hover:opacity-80">
      <svg-icon key="right-arrow-circle" fontSize="2rem"/>
    </button>
  </div>

  <ng-template #placeholderTemplate>
    <div class="flex flex-row gap-5 overflow-hidden">
      <plast-resource-card *ngFor="let resource of placeholderCards"/>
    </div>
  </ng-template>
</section>

